[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/icaven/glm.git
[submodule "glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/tinyobjloader"]
	path = 3rdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/vulkanMemoryAllocator"]
	path = 3rdparty/vulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdparty/OpenVolumeMesh"]
	path = 3rdparty/OpenVolumeMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenVolumeMesh/OpenVolumeMesh.git
